In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
#Read data
data = pd.read_csv('data/D1_XAUUSD.csv', parse_dates={'Date' : [0]},  header=None)
print(data.tail())

           Date      1        2        3        4        5       6
4974 2019-04-25  00:00  1274.63  1282.53  1273.31  1278.56   97134
4975 2019-04-26  00:00  1278.56  1288.61  1273.72  1285.69  107326
4976 2019-04-28  00:00  1286.28  1286.62  1285.63  1285.80    1913
4977 2019-04-29  00:00  1285.79  1286.57  1277.99  1280.33   80222
4978 2019-04-30  00:00  1280.32  1286.12  1279.84  1283.11  103615

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4979 entries, 0 to 4978
Data columns (total 7 columns):
Date    4979 non-null datetime64[ns]
1       4979 non-null object
2       4979 non-null float64
3       4979 non-null float64
4       4979 non-null float64
5       4979 non-null float64
6       4979 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 272.4+ KB

In [4]:
#Clean dataframe
data.drop([1], axis=1, inplace=True)
print(data.head())

        Date       2       3       4       5      6
0 2003-05-05  340.35  342.59  339.73  341.31  11948
1 2003-05-06  341.53  344.21  340.28  343.28  12161
2 2003-05-07  343.45  344.19  339.00  341.23  11588
3 2003-05-08  341.28  348.13  339.96  347.38  12108
4 2003-05-09  347.33  348.58  345.82  347.92  11539

In [5]:
data.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume'] 
print(data.head())

        Date    Open    High     Low   Close  Volume
0 2003-05-05  340.35  342.59  339.73  341.31   11948
1 2003-05-06  341.53  344.21  340.28  343.28   12161
2 2003-05-07  343.45  344.19  339.00  341.23   11588
3 2003-05-08  341.28  348.13  339.96  347.38   12108
4 2003-05-09  347.33  348.58  345.82  347.92   11539

In [6]:
data.set_index('Date',inplace=True)
print(data.head())

              Open    High     Low   Close  Volume
Date
2003-05-05  340.35  342.59  339.73  341.31   11948
2003-05-06  341.53  344.21  340.28  343.28   12161
2003-05-07  343.45  344.19  339.00  341.23   11588
2003-05-08  341.28  348.13  339.96  347.38   12108
2003-05-09  347.33  348.58  345.82  347.92   11539

In [7]:
data.describe()

              Open         High          Low        Close         Volume
count  4979.000000  4979.000000  4979.000000  4979.000000    4979.000000
mean   1047.903732  1054.784997  1040.735489  1048.055501   61684.866037
std     399.907810   401.900203   397.469883   399.783736   58289.138563
min     340.350000   342.590000   339.000000   341.230000      35.000000
25%     664.945000   668.640000   659.975000   664.915000   13981.000000
50%    1186.250000  1193.870000  1179.590000  1186.280000   46838.000000
75%    1309.230000  1315.205000  1302.260000  1309.280000   92716.000000
max    1909.110000  1920.660000  1879.570000  1909.080000  398293.000000

In [8]:
#Add week day & Day of the year

data['Weekday'] = data.index.day_name()
data['Yearday'] = data.index.dayofyear

print(data.head())

              Open    High     Low   Close  Volume    Weekday  Yearday
Date
2003-05-05  340.35  342.59  339.73  341.31   11948     Monday      125
2003-05-06  341.53  344.21  340.28  343.28   12161    Tuesday      126
2003-05-07  343.45  344.19  339.00  341.23   11588  Wednesday      127
2003-05-08  341.28  348.13  339.96  347.38   12108   Thursday      128
2003-05-09  347.33  348.58  345.82  347.92   11539     Friday      129

In [9]:
#Save file for later analysis
#Save minute data
data.to_csv('data/Analysis/D1_XAUUSD_Clean.csv')