In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
#Read data
data = pd.read_csv('data/D1_XAGUSD.csv', parse_dates={'Date' : [0]},  header=None)
print(data.tail())

           Date      1       2       3       4       5      6
4815 2019-04-25  00:00  14.919  15.005  14.850  14.946  20115
4816 2019-04-26  00:00  14.946  15.075  14.839  15.040  19974
4817 2019-04-28  00:00  15.060  15.063  15.041  15.051    316
4818 2019-04-29  00:00  15.045  15.056  14.859  14.919  14531
4819 2019-04-30  00:00  14.920  15.003  14.806  14.940  18002

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4820 entries, 0 to 4819
Data columns (total 7 columns):
Date    4820 non-null datetime64[ns]
1       4820 non-null object
2       4820 non-null float64
3       4820 non-null float64
4       4820 non-null float64
5       4820 non-null float64
6       4820 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 263.7+ KB

In [4]:
#Clean dataframe
data.drop([1], axis=1, inplace=True)
print(data.head())

        Date      2      3      4      5     6
0 2003-08-08  4.966  5.066  4.750  4.884  6015
1 2003-08-10  4.925  4.964  4.786  4.855    33
2 2003-08-11  4.915  5.039  4.752  4.912  2142
3 2003-08-12  4.925  5.030  4.655  4.765  2281
4 2003-08-13  4.741  5.084  4.646  4.899  2746

In [5]:
data.columns = ['Date', 'Open_XAG', 'High_XAG', 'Low_XAG', 'Close_XAG', 'Volume_XAG'] 
print(data.head())

        Date  Open_XAG  High_XAG  Low_XAG  Close_XAG  Volume_XAG
0 2003-08-08     4.966     5.066    4.750      4.884        6015
1 2003-08-10     4.925     4.964    4.786      4.855          33
2 2003-08-11     4.915     5.039    4.752      4.912        2142
3 2003-08-12     4.925     5.030    4.655      4.765        2281
4 2003-08-13     4.741     5.084    4.646      4.899        2746

In [6]:
data.set_index('Date',inplace=True)
print(data.head())

            Open_XAG  High_XAG  Low_XAG  Close_XAG  Volume_XAG
Date
2003-08-08     4.966     5.066    4.750      4.884        6015
2003-08-10     4.925     4.964    4.786      4.855          33
2003-08-11     4.915     5.039    4.752      4.912        2142
2003-08-12     4.925     5.030    4.655      4.765        2281
2003-08-13     4.741     5.084    4.646      4.899        2746

In [7]:
data.describe()

          Open_XAG     High_XAG      Low_XAG    Close_XAG    Volume_XAG
count  4820.000000  4820.000000  4820.000000  4820.000000    4820.00000
mean     17.022197    17.257865    16.755352    17.015561   17093.49668
std       7.903512     7.990641     7.802300     7.905884   16810.75733
min       4.685000     4.835000     4.532000     4.699000       2.00000
25%      12.749000    12.952750    12.440750    12.737000    4745.25000
50%      16.253000    16.416000    16.076000    16.243500   11327.00000
75%      19.355000    19.517250    19.074250    19.353250   25232.50000
max      48.284000    49.774000    47.481000    48.273000  111984.00000

In [8]:
#Add week day & Day of the year

data['Weekday_XAG'] = data.index.day_name()
data['Yearday_XAG'] = data.index.dayofyear

print(data.head())

            Open_XAG  High_XAG  Low_XAG  Close_XAG  Volume_XAG Weekday_XAG  \
Date
2003-08-08     4.966     5.066    4.750      4.884        6015      Friday
2003-08-10     4.925     4.964    4.786      4.855          33      Sunday
2003-08-11     4.915     5.039    4.752      4.912        2142      Monday
2003-08-12     4.925     5.030    4.655      4.765        2281     Tuesday
2003-08-13     4.741     5.084    4.646      4.899        2746   Wednesday

            Yearday_XAG
Date
2003-08-08          220
2003-08-10          222
2003-08-11          223
2003-08-12          224
2003-08-13          225

In [9]:
#Save file for later analysis
#Save minute data
data.to_csv('data/Analysis/D1_XAGUSD_Clean.csv')