In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
#Read data
data = pd.read_csv('data/D1_XAUUSD.csv', parse_dates={'Date' : [0]},  header=None)
print(data.tail())

           Date      1        2        3        4        5       6
4956 2019-04-03  00:00  1291.70  1294.49  1288.34  1291.76   94534
4957 2019-04-04  00:00  1291.76  1294.34  1280.85  1292.10   77631
4958 2019-04-05  00:00  1292.10  1293.15  1284.33  1291.18  102223
4959 2019-04-07  00:00  1291.31  1293.63  1291.20  1291.67    2133
4960 2019-04-08  00:00  1291.73  1303.65  1291.58  1297.94   73029

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4961 entries, 0 to 4960
Data columns (total 7 columns):
Date    4961 non-null datetime64[ns]
1       4961 non-null object
2       4961 non-null float64
3       4961 non-null float64
4       4961 non-null float64
5       4961 non-null float64
6       4961 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 271.4+ KB

In [4]:
#Clean dataframe
data.drop([1], axis=1, inplace=True)
print(data.head())

        Date       2       3       4       5      6
0 2003-05-05  340.35  342.59  339.73  341.31  11948
1 2003-05-06  341.53  344.21  340.28  343.28  12161
2 2003-05-07  343.45  344.19  339.00  341.23  11588
3 2003-05-08  341.28  348.13  339.96  347.38  12108
4 2003-05-09  347.33  348.58  345.82  347.92  11539

In [5]:
data.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume'] 
print(data.head())

        Date    Open    High     Low   Close  Volume
0 2003-05-05  340.35  342.59  339.73  341.31   11948
1 2003-05-06  341.53  344.21  340.28  343.28   12161
2 2003-05-07  343.45  344.19  339.00  341.23   11588
3 2003-05-08  341.28  348.13  339.96  347.38   12108
4 2003-05-09  347.33  348.58  345.82  347.92   11539

In [6]:
data.set_index('Date',inplace=True)
print(data.head())

              Open    High     Low   Close  Volume
Date
2003-05-05  340.35  342.59  339.73  341.31   11948
2003-05-06  341.53  344.21  340.28  343.28   12161
2003-05-07  343.45  344.19  339.00  341.23   11588
2003-05-08  341.28  348.13  339.96  347.38   12108
2003-05-09  347.33  348.58  345.82  347.92   11539

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4961 entries, 2003-05-05 to 2019-04-08
Data columns (total 5 columns):
Open      4961 non-null float64
High      4961 non-null float64
Low       4961 non-null float64
Close     4961 non-null float64
Volume    4961 non-null int64
dtypes: float64(4), int64(1)
memory usage: 232.5 KB

In [8]:
data.describe()

              Open         High          Low        Close         Volume
count  4961.000000  4961.000000  4961.000000  4961.000000    4961.000000
mean   1047.044227  1053.937454  1039.867448  1047.199843   61623.476718
std     400.377123   402.381432   397.928167   400.255074   58346.230620
min     340.350000   342.590000   339.000000   341.230000      35.000000
25%     663.470000   668.340000   659.730000   664.150000   13977.000000
50%    1185.510000  1192.260000  1178.610000  1185.520000   46770.000000
75%    1309.640000  1315.530000  1302.540000  1309.600000   92550.000000
max    1909.110000  1920.660000  1879.570000  1909.080000  398293.000000

In [41]:
#Add week day & Day of the year

data['Weekday'] = data.index.day_name()
data['Yearday'] = data.index.dayofyear

print(data.head())

              Open    High     Low   Close  Volume    Weekday  Yearday
Date
2003-05-05  340.35  342.59  339.73  341.31   11948     Monday      125
2003-05-06  341.53  344.21  340.28  343.28   12161    Tuesday      126
2003-05-07  343.45  344.19  339.00  341.23   11588  Wednesday      127
2003-05-08  341.28  348.13  339.96  347.38   12108   Thursday      128
2003-05-09  347.33  348.58  345.82  347.92   11539     Friday      129

In [21]:
#Save file for later analysis
#Save minute data
data.to_csv('data/Analysis/D1_XAUUSD_Clean.csv')