In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
#Read data
data = pd.read_csv('data/D1_EURUSD.csv', parse_dates={'Date' : [0]},  header=None)
print(data.tail())

           Date      1        2        3        4        5       6
4998 2019-04-25  00:00  1.11534  1.11623  1.11178  1.11353  349256
4999 2019-04-26  00:00  1.11353  1.11739  1.11111  1.11429  343555
5000 2019-04-28  00:00  1.11441  1.11516  1.11441  1.11494    8223
5001 2019-04-29  00:00  1.11494  1.11869  1.11450  1.11848  288517
5002 2019-04-30  00:00  1.11847  1.12290  1.11757  1.12157  324044

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 7 columns):
Date    5003 non-null datetime64[ns]
1       5003 non-null object
2       5003 non-null float64
3       5003 non-null float64
4       5003 non-null float64
5       5003 non-null float64
6       5003 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 273.7+ KB

In [4]:
#Clean dataframe
data.drop([1], axis=1, inplace=True)
print(data.head())

        Date        2        3        4        5        6
0 2003-05-05  1.12161  1.13009  1.12014  1.12924  1279436
1 2003-05-06  1.12921  1.14506  1.12723  1.14234  1284882
2 2003-05-07  1.14218  1.14323  1.13265  1.13494  1275988
3 2003-05-08  1.13507  1.15077  1.13006  1.14820  1269876
4 2003-05-09  1.14831  1.15366  1.14346  1.14877  1192012

In [5]:
data.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume'] 
print(data.head())

        Date     Open     High      Low    Close   Volume
0 2003-05-05  1.12161  1.13009  1.12014  1.12924  1279436
1 2003-05-06  1.12921  1.14506  1.12723  1.14234  1284882
2 2003-05-07  1.14218  1.14323  1.13265  1.13494  1275988
3 2003-05-08  1.13507  1.15077  1.13006  1.14820  1269876
4 2003-05-09  1.14831  1.15366  1.14346  1.14877  1192012

In [6]:
data.set_index('Date',inplace=True)
print(data.head())

               Open     High      Low    Close   Volume
Date
2003-05-05  1.12161  1.13009  1.12014  1.12924  1279436
2003-05-06  1.12921  1.14506  1.12723  1.14234  1284882
2003-05-07  1.14218  1.14323  1.13265  1.13494  1275988
2003-05-08  1.13507  1.15077  1.13006  1.14820  1269876
2003-05-09  1.14831  1.15366  1.14346  1.14877  1192012

In [7]:
data.describe()

              Open         High          Low        Close        Volume
count  5003.000000  5003.000000  5003.000000  5003.000000  5.003000e+03
mean      1.270150     1.275159     1.265265     1.270202  5.073911e+05
std       0.119472     0.120025     0.118771     0.119443  5.529526e+05
min       1.039070     1.041780     1.034030     1.039060  3.540000e+02
25%       1.174105     1.178050     1.169075     1.174230  1.179370e+05
50%       1.274620     1.279900     1.269180     1.274500  2.292350e+05
75%       1.352730     1.357045     1.347980     1.352560  8.552760e+05
max       1.597200     1.603890     1.589540     1.597210  2.704618e+06

In [8]:
#Add week day & Day of the year

data['Weekday'] = data.index.day_name()
data['Yearday'] = data.index.dayofyear

print(data.head())

               Open     High      Low    Close   Volume    Weekday  Yearday
Date
2003-05-05  1.12161  1.13009  1.12014  1.12924  1279436     Monday      125
2003-05-06  1.12921  1.14506  1.12723  1.14234  1284882    Tuesday      126
2003-05-07  1.14218  1.14323  1.13265  1.13494  1275988  Wednesday      127
2003-05-08  1.13507  1.15077  1.13006  1.14820  1269876   Thursday      128
2003-05-09  1.14831  1.15366  1.14346  1.14877  1192012     Friday      129

In [9]:
#Save file for later analysis
#Save minute data
data.to_csv('data/Analysis/D1_EURUSD_Clean.csv')